.wrapper h1{
    
    font-size: 50px;
    font-weight: bold;
    font-family: Audiowide;
    padding-top: 100px;
    display: block;
    padding-right: 57px;
}

.img-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 90px;
    position: relative;
}

.single-img{
    padding: 10px 5px 20px;
}

img:hover{
    opacity: .5;
    transition: 0.9s;
}

nav{
    float:left;
    margin-left: 20px;

}
ul{
    padding-top: 100px;
    list-style-type: none;
}

h2{
    margin-left: 25px;
}

.wrapper{
    margin-left: 15%;
}

li a:hover{
    color: red;
}

p{
    float: right;
    padding-top: 120px;
    padding-right: 90px;
}